@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --cor-primaria: #47A992;
    --cor-secundaria: #7A3E3E;
    --cor-escura: #482121;
    --cor-counter: #EEEEEE;
}

body {
    align-items: center;
    background-color: var(--cor-primaria);
    color: var(--cor-escura);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: 300;
    gap: 32px;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    margin: 0;
}

.titulo {
    font-size: 4.5em;
}

.sub-titulo {
    font-size: 2.5em;
}

.mensagem {
    font-size: 1.5em;
}
.resposta-dica{
    align-items: center;
    display: flex;
    column-gap: 16px;
}
.box{
    border: solid 2px var(--cor-escura);
    display: inline-block;
    font-size: 3.5em;
    padding: 20px;
    margin: 20px;
}
.jogarNovamente{
    background-color: var(--cor-escura);
    border: none;
    border-radius: 6px;
    color: var(--cor-primaria);
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    padding: 1rem;
}